---
import Layout from '../layouts/Layout.astro';
import Tei, {TeiBaseStyle} from 'astro-tei';

// Load TEI data with a dynamic import.
// One could also use Node's library fs to get the file's content.
const teiFile = (await import("../tei/testTEI.xml?raw")).default;

---

<Layout title="Astro TEI demo">
	<TeiBaseStyle/>
	<main class="m-auto p-6 max-w-[65ch]">
		<h1 class="text-5xl font-extrabold m-0 mb-4">Astro TEI demo</h1>
		<div>Below is a TEI file rendered and embedded as its own Astro component island.</div>
		<div>See <a href="react">an example using React</a> and React components instead of CETEIcean behaviors.</div>
		<div class="shadow-2xl bg-amber-50 text-gray-700 p-4 mt-4 rounded-md">
			<Tei data={teiFile} />
		</div>
	</main>
</Layout>
