---
import Layout from '../layouts/Layout.astro';
import { TeiBaseStyle, processTei } from 'astro-tei';
import TeiReact from '../components/tei'

// Load TEI data with a dynamic import.
// One could also use Node's library fs to get the file's content.
const teiFile = (await import("../tei/testTEI.xml?raw")).default;
// Use astro-tei to process TEI data with CETEIcean.
const tei = processTei(teiFile);
---

<Layout title="Astro TEI demo">
	<TeiBaseStyle/>
	<main class="m-auto p-6 max-w-[65ch]">
		<h1 class="text-5xl font-extrabold m-0 mb-4">Astro TEI - React demo</h1>
		<div>Below is a TEI file rendered and embedded as its own Astro component island. 
			The rendering of the TEI is then passed through a React router to map React components to TEI elements.</div>
		<div>See <a href="..">static Astro component</a> example.</div>
		<div class="shadow-2xl bg-amber-50 text-gray-700 p-4 mt-4 rounded-md">
			<TeiReact elements={tei.elements} client:load tei={tei.serialized}/>
		</div>
	</main>
</Layout>
